<%= form_with(model: List.new, url: lists_path, method: :post,
              id: "add_new_list_placeholder", # static ID estático to be replace event target
              data: {
                controller: "placeholder-form-manager",
                placeholder_form_manager_main_button_id_value: "main_new_list_button",
                turbo_frame: "_top" # Ensures the stream response affects the whole page, not a specific frame
              }) do |form| %>

  <%# Controller will define default name %>
  <%= form.hidden_field :name, value: "" %>

  <button type="submit"
          class="list-placeholder w-full sm:w-[300px] h-[100px] flex-shrink-0 flex items-center justify-center">
    <span class="list-placeholder-text"><%= t("lists.defaults.new-list") %></span>
  </button>
<% end %>
