<%#
  locals:
    list: o objeto do quadro
    completed_tasks: a lista de tarefas concluídas
%>
<%
  # Se a variável 'completed_tasks' não for passada, busca a partir do 'list'.
  completed_tasks ||= list.tasks.completed
  completed_tasks = completed_tasks.sort_by(&:completed_at).reverse
%>

<%# ID para que possamos remover esta seção inteira quando a última tarefa for desmarcada %>
<div id="<%= dom_id(list, :completed_tasks_section) %>" class="px-6 pt-4 pb-2" data-controller="toggle">
  
  <%# Seu código para o botão de toggle %>
  <div class="flex items-center cursor-pointer select-none text-sm text-gray-600 hover:text-gray-900" data-action="click->toggle#fire">
    <h4 class="font-semibold">Concluídas (<%= completed_tasks.size %>)</h4>
    <svg data-toggle-target="icon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1 transition-transform" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </div>
  
  <%# A lista que será exibida/ocultada. ID estável aqui. %>
  <div id="completed_tasks_list_list_<%= list.id %>" data-toggle-target="toggleable" class="hidden mt-2 divide-y divide-gray-200">
    <% completed_tasks.each do |task| %>
      <%= render 'tasks/task', task: task, list: list %>
    <% end %>
  </div>
</div>