.list{
  @apply bg-[var(--color-background)] rounded-lg border border-[var(--color-border)];
  position: relative;
  box-shadow:
    0 20px 25px -5px var(--shadow-color),
    0 10px 10px -5px var(--shadow-color);
}

/* Creates accent color bar */
.list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: var(--list-color, transparent); /* Uses color from view variable */
  border-top-left-radius: 0.5rem; 
  border-bottom-left-radius: 0.5rem;
}

.list-header{
  @apply px-6 py-5 border-b border-[var(--color-border)] bg-[var(--color-surface)];
  border-top-left-radius: 0.5rem; 
  border-top-right-radius: 0.5rem; 
}

.list-name{
  @apply text-2xl font-semibold text-[var(--color-secondary)] cursor-pointer hover:bg-[var(--color-background-hover)] p-1 rounded;
}

.list-description{
  @apply text-sm text-[var(--color-tertiary)] mt-1 cursor-pointer hover:bg-[var(--color-background-hover)] p-1;
}

.list-add-task-container{
  @apply px-6 py-3 border-b border-[var(--color-border)] bg-[var(--color-surface)] text-right;
}

.sortable-item-dragging {
  opacity: 0;
}

.list-placeholder{
  @apply bg-[var(--color-surface)] hover:bg-[var(--color-background-hover)] rounded-lg border-2 border-dashed border-gray-400 p-6 cursor-pointer;
  box-shadow: 
  0 10px 15px -3px var(--shadow-color), 
  0 4px 6px -4px var(--shadow-color);
}

.list-placeholder-text{
  @apply text-[var(--color-secondary)] text-xl font-semibold;
}