/* Este @config é importante, mantenha-o no topo */
@config "../../../config/tailwind.config.js";

/* Este @import carrega todos os utilitários do Tailwind */
@import "tailwindcss";
@import "./_lists.css";
@import "./_tasks.css";

body{
  @apply bg-gray-50;
  @apply dark:bg-gray-700
}

.button-primary {
  @apply text-sm text-blue-600 hover:text-blue-800 font-medium cursor-pointer p-1;
  /* Estilos do dark mode DENTRO da própria classe do componente */
  @apply dark:text-red-600 dark:hover:text-red-800;
}

.button-secondary {
  @apply py-2 px-3 bg-gray-200 text-gray-800 font-semibold rounded-md;
  @apply hover:bg-gray-300;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400;
  /* Estilos do dark mode DENTRO da própria classe do componente */
  @apply dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600 dark:focus:ring-offset-gray-900;
}

/* Classe para a rotação do ícone da seta */
.rotate-180 {
  transform: rotate(180deg);
}

.float-menu{
  @apply absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-20;
}