:root {
  --color-accent: oklch(54.6% 0.245 262.881);
  --color-accent-hover: oklch(42.4% 0.199 265.638);

  --color-primary: oklch(21% 0.034 264.665);
  --color-secondary: oklch(37.3% 0.034 259.733);
  --color-tertiary: oklch(55.1% 0.027 264.364);

  --color-border: oklch(88.214% 0.00727 268.584);

  --color-surface: oklch(92.8% 0.006 264.531);
  --color-surface-hover: oklch(94.8% 0.0045 264.537);
  --color-background: oklch(98.5% 0.002 247.839);
  --color-background-hover: oklch(96.7% 0.003 264.542);

  --shadow-color: oklch(0% 0 0 / 0.1);
}

:root.dark {
  --color-accent: oklch(70% 0.245 262.881); 
  --color-accent-hover: oklch(60% 0.199 265.638);

  --color-primary: oklch(85% 0.034 264.665);   
  --color-secondary: oklch(75% 0.034 259.733);
  --color-tertiary: oklch(65% 0.027 264.364);

  --color-border: oklch(38.253% 0.01995 266.051);

  --color-surface: oklch(27.28% 0.03495 254.08);
  --color-surface-hover: oklch(32.92% 0.0438 248.89);
  --color-background: oklch(21.783% 0.01454 266.92);
  --color-background-hover: oklch(38.562% 0.0527 243.704);

  --shadow-color: oklch(44.616% 0.08638 279.824 / 0.1);
}

@config "../../../config/tailwind.config.js";

/* Este @import carrega todos os utilitários do Tailwind */
@import "tailwindcss";
@import "./_lists.css";
@import "./_tasks.css";
@import "./_sidebar.css";
@import "./_color_selection.css";
@import "./_ai_page.css";
@import "./_login_page.css";

body{
  @apply bg-[var(--color-background)];
}

.button-primary {
  @apply text-sm text-[var(--color-accent)] hover:text-[var(--color-accent-hover)] font-medium cursor-pointer p-1;
}

.button-secondary {
  @apply py-2 px-3 bg-gray-200 text-gray-800 font-semibold rounded-md;
  @apply hover:bg-gray-300;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400;
}

/* Classe para a rotação do ícone da seta */
.rotate-180 {
  transform: rotate(180deg);
}

.float-menu{
  @apply absolute right-0 mt-2 w-36 bg-[var(--color-background)] rounded-md z-20;
  box-shadow: 
    0 10px 15px -3px var(--shadow-color), 
    0 4px 6px -4px var(--shadow-color);
}

.description-truncate {
  overflow: hidden;
  line-height: 1.2;
  max-height: 2.8em; 
  word-break: break-word;
  position: relative;
}

.name-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; 
}

.title-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px; 
}
