/* Este @config é importante, mantenha-o no topo */
@config "../../../config/tailwind.config.js";

/* Este @import carrega todos os utilitários do Tailwind */
@import "tailwindcss";
@import "./_lists.css";
@import "./_tasks.css";

@layer base {
  /*
    :root representa o tema padrão (claro)
  */
  :root {
    /* Valores RGB para as cores. Ex: #3b82f6 -> 59 130 246 */
    --color-primary: 59 130 246;          /* blue-500 */
    --color-primary-hover: 37 99 235;     /* blue-600 */
    --color-secondary: 107 114 128;       /* gray-500 */
    --color-surface: 255 255 255;         /* white */
    --color-on-surface: 17 24 39;         /* gray-900 */
    --color-on-surface-muted: 75 85 99;   /* gray-600 */
  }

  /*
    Quando a classe .dark estiver no <html>, estes valores serão usados no lugar.
  */
  .dark {
    --color-primary: 96 165 250;          /* blue-400 */
    --color-primary-hover: 59 130 246;    /* blue-500 */
    --color-secondary: 156 163 175;       /* gray-400 */
    --color-surface: 17 24 39;            /* gray-900 */
    --color-on-surface: 229 231 235;      /* gray-200 */
    --color-on-surface-muted: 156 163 175;/* gray-400 */
  }
}

body{
  @apply bg-primary;
  @apply dark:bg-gray-700
}

.button-primary {
  @apply text-sm text-blue-600 hover:text-blue-800 font-medium cursor-pointer p-1;
  /* Estilos do dark mode DENTRO da própria classe do componente */
  @apply dark:text-red-600 dark:hover:text-red-800;
}

.button-secondary {
  @apply py-2 px-3 bg-gray-200 text-gray-800 font-semibold rounded-md;
  @apply hover:bg-gray-300;
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400;
  /* Estilos do dark mode DENTRO da própria classe do componente */
  @apply dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600 dark:focus:ring-offset-gray-900;
}

/* Classe para a rotação do ícone da seta */
.rotate-180 {
  transform: rotate(180deg);
}

.float-menu{
  @apply absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-20;
}