<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-medium text-[var(--color-primary)] title-truncate"><%= @current_board.name %></h1>
  </div>

  <div class="flex overflow-x-auto gap-6 pb-4" id="lists_list_container" data-controller="sortable" data-sortable-url-value="/lists/:id/move">
    <% @lists.each do |list| %>
      <%= render "lists/list", list: list %>
    <% end %>
    <%# Renderiza o placeholder (que é um formulário) no final %>
    <%= render "lists/add_new_list_placeholder" %>
  </div>

  <% if @lists.empty? %>
    <div id="empty_board_message" class="text-center py-10 mt-[-2rem]">
      <p class="text-xl text-gray-500"><%= t("boards.defaults.empty-board") %></p>
    </div>
  <% end %>
</div>
