<div data-controller="toggle" class="relative">
  <%# --- Panel Toggle Btn --- %>
  <button type="button" data-action="click->toggle#fire" class="p-2 panel-toggle-btn">
    <span class="sr-only">Abrir menu</span>
    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>
  </button>

  <%# --- Sidebar Panel --- %>
  <aside data-toggle-target="toggleable" class="hidden absolute top-0 left-0 z-20 w-64 h-screen flex flex-col flex-shrink-0 sidebar-panel">

    <%# Sidebar Header %>
    <div class="p-4 flex sidebar-header">
      <h2 class="sidebar-header-text">Meus Boards</h2>

      <div class="flex items-center space-x-2">
        <%# --- Theme Switcher Btn Container --- %>
        <div data-controller="theme">
          <button type="button" data-action="click->theme#toggle" class="p-2 theme-switcher-btn">
            <svg data-theme-target="moon" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
            </svg>
            <svg data-theme-target="sun" class="h-5 w-5 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </button>
        </div>
        <%# --- END: Theme Switcher Btn Container --- %>

        <%# Close Sidebar Btn %>
        <button type="button" data-action="click->toggle#fire" class="p-1 close-sidebar-btn">
          <span class="sr-only">Fechar menu</span>
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <%# Sidebar Body %>
    <nav id="boards_list_container" class="flex-grow p-4 overflow-y-auto">
      <%= render partial: "boards/board", collection: @boards, as: :board, locals: { current_board: @current_board } %>

      <%= form_with(model: Board.new, url: boards_path(format: :turbo_stream), class: "mt-2", id: "new_board_form") do |form| %>
        <%= form.button class: "w-full text-left flex items-center px-3 py-2 p-0 border-none new-board-btn" do %>
          <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
          Criar novo board
        <% end %>
      <% end %>
    </nav>
  </aside>
</div>